nav#menu {
  position: fixed;
}


h3 {
  background-color: #f1f1f1;
  padding: 10px;
  width: 170px;
  font-size: 30px;

}
.btn-success {
  width: 90px;

}
.btn-success:hover{
  background: #f1f1f1;
}
div#conteudo {
  position: absolute;
  margin: 0px 10px 10px 350px;
  color: #222222;
  font-size: 15px;
}

.table {
  position: absolute;
  left: -40px;
  margin: 10px 10px 10px 0px;
  background: rgba(255, 255, 0, 0.3);
  width: 1100px;
  border: 1px solid #222222;
}


.table th {
  font-size: 23px;
}

.table td{

  width: 100px;
  font-size: px;
  background-color: #f1f1f1;
  border: 1px solid #222222;
}
.tables {
  width: 1000px;
  background-color: #f1f1f1;
}
.table td a{

  text-decoration: none;
}
.table  td:hover{
  background-color: #5cb85c;
  color:#f1f1f1;
}

.btn-defaultt {
  padding: 3px;
  margin: 5px;
  font-size: 20px;
  background-color: #f1f1f1;
}
.btn-defaultt:hover {
  background-color: #b82e24;
  color: #f1f1f1;
}
.btn-default {
  margin: 10px 10px 10px 60px;
  background: rgba(0, 0, 0, 0);
  color: #222222;
  padding: none;
}
.btn-default:hover{
  color: #f1f1f1;
}
.Link {
  margin: 10px 10px 10px 00px;
  font-size: 25px;

}
.Link:hover{
  color: #f1f1f1;
}

